
# Where to store Tussilago data (e.g., database, logs, etc.)
# Default: Uses platformdirs;
# on Linux, this is ~/.local/share/tussilago/
# on Windows, this is %appdata%\Tussilago\
TUSSILAGO_DATA_DIR=

# Tussilago uses a PostgreSQL database to store its data.
# The following environment variables can be used to configure the database connection.
TUSSILAGO_POSTGRES_DB=tussilago
TUSSILAGO_POSTGRES_USER=tussilago
TUSSILAGO_POSTGRES_PASSWORD=
TUSSILAGO_POSTGRES_HOST=localhost
TUSSILAGO_POSTGRES_PORT=5432
