
# Where to store Tussilago data (e.g., database, logs, etc.)
# Default: Uses platformdirs;
# on Linux, this is ~/.local/share/tussilago/
# on Windows, this is %appdata%\Tussilago\
# TUSSILAGO_DATA_DIR=

# Tussilago uses a PostgreSQL database to store its data.
# The following environment variables can be used to configure the database connection.
TUSSILAGO_POSTGRES_DB=tussilago
TUSSILAGO_POSTGRES_USER=tussilago
TUSSILAGO_POSTGRES_PASSWORD=
TUSSILAGO_POSTGRES_HOST=localhost
TUSSILAGO_POSTGRES_PORT=5432

# You can generate a random password with a command like:
#   openssl rand -base64 32
POSTGRES_PASSWORD=

# Django debug mode (True or False)
DJANGO_DEBUG=True

# Path to the private key used for IDP OIDC authentication
# Generate a private key with:
#   openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048
IDP_OIDC_PRIVATE_KEY_PATH=./private_key.pem
