{% extends "base.html" %}
{% block title %}{{ organization.name|escape }}{% endblock title %}
{% block content %}
    <h1>{{ organization.name|escape }}</h1>
    {{ organization.description|escape }}
    <hr>
    <p>
        <a href="{% url 'organization_members' organization.id %}">View members</a>
    </p>
    <ul>
        <li>Created at: {{ organization.created_at|date:"Y-m-d H:i:s" }}</li>
        <li>Updated at: {{ organization.updated_at|date:"Y-m-d H:i:s" }}</li>
        <li>Number of members: {{ organization.members.count }}</li>
        <li>Number of invitations: {{ organization.invitations.count }}</li>
    </ul>
{% endblock content %}
